In [1]:
# Loading the dataset using pandas

import pandas as pd
df = pd.read_csv('Pakistan Largest Ecommerce Dataset.csv',low_memory=False)

In [2]:
df.head()

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,Month,Customer Since,M-Y,FY,Customer ID,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,211131.0,complete,7/1/2016,kreations_YI 06-L,1950.0,1.0,1950.0,100147443,Women's Fashion,\N,...,7.0,2016-7,7-2016,FY17,1.0,NaN,NaN,NaN,NaN,NaN
1,211133.0,canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1.0,240.0,100147444,Beauty & Grooming,\N,...,7.0,2016-7,7-2016,FY17,2.0,NaN,NaN,NaN,NaN,NaN
2,211134.0,canceled,7/1/2016,Ego_UP0017-999-MR0,2450.0,1.0,2450.0,100147445,Women's Fashion,\N,...,7.0,2016-7,7-2016,FY17,3.0,NaN,NaN,NaN,NaN,NaN
3,211135.0,complete,7/1/2016,kcc_krone deal,360.0,1.0,60.0,100147446,Beauty & Grooming,R-FSD-52352,...,7.0,2016-7,7-2016,FY17,4.0,NaN,NaN,NaN,NaN,NaN
4,211136.0,order_refunded,7/1/2016,BK7010400AG,555.0,2.0,1110.0,100147447,Soghaat,\N,...,7.0,2016-7,7-2016,FY17,5.0,NaN,NaN,NaN,NaN,NaN

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1048575 entries, 0 to 1048574
Data columns (total 26 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   item_id                584524 non-null  float64
 1   status                 584509 non-null  object
 2   created_at             584524 non-null  object
 3   sku                    584504 non-null  object
 4   price                  584524 non-null  float64
 5   qty_ordered            584524 non-null  float64
 6   grand_total            584524 non-null  float64
 7   increment_id           584524 non-null  object
 8   category_name_1        584360 non-null  object
 9   sales_commission_code  447346 non-null  object
 10  discount_amount        584524 non-null  float64
 11  payment_method         584524 non-null  object
 12  Working Date           584524 non-null  object
 13  BI Status              584524 non-null  object
 14   MV                    584524 non-null  object
 15  Year                   584524 non-null  float64
 16  Month                  584524 non-null  float64
 17  Customer Since         584513 non-null  object
 18  M-Y                    584524 non-null  object
 19  FY                     584524 non-null  object
 20  Customer ID            584513 non-null  float64
 21  Unnamed: 21            0 non-null       float64
 22  Unnamed: 22            0 non-null       float64
 23  Unnamed: 23            0 non-null       float64
 24  Unnamed: 24            0 non-null       float64
 25  Unnamed: 25            0 non-null       float64
dtypes: float64(13), object(13)
memory usage: 208.0+ MB

In [4]:
df.describe(include='all')

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,Month,Customer Since,M-Y,FY,Customer ID,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
count,584524.000000,584509,584524,584504,5.845240e+05,584524.000000,5.845240e+05,584524,584360,447346,...,584524.000000,584513,584524,584524,584513.000000,0.0,0.0,0.0,0.0,0.0
unique,NaN,16,789,84889,NaN,NaN,NaN,408782,16,7225,...,NaN,26,26,3,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,complete,11/25/2016,MATSAM59DB75ADB2F80,NaN,NaN,NaN,100266667,Mobiles & Tablets,\N,...,NaN,2016-11,11-2017,FY18,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,233685,15169,3775,NaN,NaN,NaN,72,115710,339001,...,NaN,82714,83928,306883,NaN,NaN,NaN,NaN,NaN,NaN
mean,565667.074218,NaN,NaN,NaN,6.348748e+03,1.296388,8.530619e+03,NaN,NaN,NaN,...,7.167654,NaN,NaN,NaN,45790.511965,NaN,NaN,NaN,NaN,NaN
std,200121.173648,NaN,NaN,NaN,1.494927e+04,3.996061,6.132081e+04,NaN,NaN,NaN,...,3.486305,NaN,NaN,NaN,34414.962389,NaN,NaN,NaN,NaN,NaN
min,211131.000000,NaN,NaN,NaN,0.000000e+00,1.000000,-1.594000e+03,NaN,NaN,NaN,...,1.000000,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN
25%,395000.750000,NaN,NaN,NaN,3.600000e+02,1.000000,9.450000e+02,NaN,NaN,NaN,...,4.000000,NaN,NaN,NaN,13516.000000,NaN,NaN,NaN,NaN,NaN
50%,568424.500000,NaN,NaN,NaN,8.990000e+02,1.000000,1.960400e+03,NaN,NaN,NaN,...,7.000000,NaN,NaN,NaN,42856.000000,NaN,NaN,NaN,NaN,NaN
75%,739106.250000,NaN,NaN,NaN,4.070000e+03,1.000000,6.999000e+03,NaN,NaN,NaN,...,11.000000,NaN,NaN,NaN,73536.000000,NaN,NaN,NaN,NaN,NaN
max,905208.000000,NaN,NaN,NaN,1.012626e+06,1000.000000,1.788800e+07,NaN,NaN,NaN,...,12.000000,NaN,NaN,NaN,115326.000000,NaN,NaN,NaN,NaN,NaN

In [5]:
# To see the Missing Values
df_missing = df.copy()

missing_data = df_missing.isnull().sum().sort_values(ascending=False).reset_index()
missing_data.columns = ['Columns Name', 'Missing Values']
missing_data['Percentage Missing Values'] = (missing_data['Missing Values'] / len(df_missing)) * 100
missing_data['Percentage Missing Values'] = missing_data['Percentage Missing Values'].apply(lambda x: f"{x:.0f}%")
missing_data

             Columns Name  Missing Values Percentage Missing Values
0             Unnamed: 23         1048575                      100%
1             Unnamed: 22         1048575                      100%
2             Unnamed: 25         1048575                      100%
3             Unnamed: 24         1048575                      100%
4             Unnamed: 21         1048575                      100%
5   sales_commission_code          601229                       57%
6         category_name_1          464215                       44%
7                     sku          464071                       44%
8                  status          464066                       44%
9          Customer Since          464062                       44%
10            Customer ID          464062                       44%
11           increment_id          464051                       44%
12            grand_total          464051                       44%
13            qty_ordered          464051                       44%
14             created_at          464051                       44%
15                item_id          464051                       44%
16                  price          464051                       44%
17        discount_amount          464051                       44%
18                  Month          464051                       44%
19                   Year          464051                       44%
20                    MV           464051                       44%
21              BI Status          464051                       44%
22         payment_method          464051                       44%
23           Working Date          464051                       44%
24                    M-Y          464051                       44%
25                     FY          464051                       44%

In [6]:
#delete the unnamed collumns that do not have values inside 
#delete sales_commission code column because more than half of the column is missing and it is not very relevant for our analysis
#delete the m-y (month and the year of the transaction), because we already have sepereate columns for months and years
df = df.drop(
    ['Unnamed: 21', 'Unnamed: 22', 'Unnamed: 23', 'Unnamed: 24', 'Unnamed: 25', 'sales_commission_code', 'M-Y'],
    axis=1,
    errors='ignore'
)

In [7]:
#drop the rows where all of the values in columns are missing
#review the null values left
df = df.dropna(how='all')
df.isna().sum()

item_id              0
status              15
created_at           0
sku                 20
price                0
qty_ordered          0
grand_total          0
increment_id         0
category_name_1    164
discount_amount      0
payment_method       0
Working Date         0
BI Status            0
 MV                  0
Year                 0
Month                0
Customer Since      11
FY                   0
Customer ID         11
dtype: int64

In [8]:
# Because sku(stock keeping unit) and customer id are the primary keys(unique) of the table we are going to delete the rows with these values missing
df.dropna(subset=['sku', 'Customer ID'], inplace=True)

# for status, category_name_1, we are going to fill with it with the mode, because they are categories 
# for Customer Since, because it is a date column, it is logical to take the last known valid date
df['status'] = df['status'].fillna(df['status'].mode()[0])
df['category_name_1'] = df['category_name_1'].fillna(df['category_name_1'].mode()[0])
df['Customer Since'] = df['Customer Since'].bfill()

In [9]:
# Renaming columns for better readability and documentation
df.columns = df.columns.str.lower()
df.columns = df.columns.str.replace(' ','_')
df.columns

Index(['item_id', 'status', 'created_at', 'sku', 'price', 'qty_ordered',
       'grand_total', 'increment_id', 'category_name_1', 'discount_amount',
       'payment_method', 'working_date', 'bi_status', '_mv_', 'year', 'month',
       'customer_since', 'fy', 'customer_id'],
      dtype='object')

In [10]:
#Rename certain columns for better readibility
df = df.rename(columns={
    '_mv_': 'market_value',
    'fy': 'fiscal_year',
    'sku': 'stock_keeping_unit', 
    'category_name_1': 'category_name',
})

In [11]:
#Based on the head of the data, it is logical to assume that the created_at and working_date might be same for each transaction 
(df['working_date'] == df['created_at']).all()

np.True_

In [12]:
#rewrite the grand_total amount formula, to make sure it is correct for each row, since it is a calculation of existing rows
df["grand_total"] = df['price'] * df['qty_ordered'] - df['discount_amount']
df.head(10)

,item_id,status,created_at,stock_keeping_unit,price,qty_ordered,grand_total,increment_id,category_name,discount_amount,payment_method,working_date,bi_status,market_value,year,month,customer_since,fiscal_year,customer_id
0,211131.0,complete,7/1/2016,kreations_YI 06-L,1950.0,1.0,1950.0,100147443,Women's Fashion,0.0,cod,7/1/2016,#REF!,"1,950",2016.0,7.0,2016-7,FY17,1.0
1,211133.0,canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1.0,240.0,100147444,Beauty & Grooming,0.0,cod,7/1/2016,Gross,240,2016.0,7.0,2016-7,FY17,2.0
2,211134.0,canceled,7/1/2016,Ego_UP0017-999-MR0,2450.0,1.0,2450.0,100147445,Women's Fashion,0.0,cod,7/1/2016,Gross,"2,450",2016.0,7.0,2016-7,FY17,3.0
3,211135.0,complete,7/1/2016,kcc_krone deal,360.0,1.0,60.0,100147446,Beauty & Grooming,300.0,cod,7/1/2016,Net,360,2016.0,7.0,2016-7,FY17,4.0
4,211136.0,order_refunded,7/1/2016,BK7010400AG,555.0,2.0,1110.0,100147447,Soghaat,0.0,cod,7/1/2016,Valid,"1,110",2016.0,7.0,2016-7,FY17,5.0
5,211137.0,canceled,7/1/2016,UK_Namkino All In One 200 Gms,80.0,1.0,80.0,100147448,Soghaat,0.0,cod,7/1/2016,Gross,80,2016.0,7.0,2016-7,FY17,6.0
6,211138.0,complete,7/1/2016,kcc_krone deal,360.0,1.0,60.0,100147449,Beauty & Grooming,300.0,cod,7/1/2016,Net,360,2016.0,7.0,2016-7,FY17,7.0
7,211139.0,complete,7/1/2016,UK_Namkino Mix Nimco 400 Gms,170.0,1.0,170.0,100147450,Soghaat,0.0,cod,7/1/2016,Net,170,2016.0,7.0,2016-7,FY17,6.0
8,211140.0,canceled,7/1/2016,Apple iPhone 6S 64GB,96499.0,1.0,96499.0,100147451,Mobiles & Tablets,0.0,ublcreditcard,7/1/2016,Gross,"96,499",2016.0,7.0,2016-7,FY17,8.0
9,211141.0,canceled,7/1/2016,Apple iPhone 6S 64GB,96499.0,1.0,96499.0,100147452,Mobiles & Tablets,0.0,mygateway,7/1/2016,Gross,"96,499",2016.0,7.0,2016-7,FY17,8.0

In [13]:
#For simplicity, we will leave just one column called the transaction date 
df = df.rename(columns={
    'working_date': 'transaction_date'})
df = df.drop(['created_at'],axis=1,errors='ignore')
df.columns

Index(['item_id', 'status', 'stock_keeping_unit', 'price', 'qty_ordered',
       'grand_total', 'increment_id', 'category_name', 'discount_amount',
       'payment_method', 'transaction_date', 'bi_status', 'market_value',
       'year', 'month', 'customer_since', 'fiscal_year', 'customer_id'],
      dtype='object')

In [14]:
# We are going to start reviewing categorical columns
df['status'].value_counts()

status
complete          233700
canceled          201235
received           77289
order_refunded     59522
refund              8042
cod                 2858
paid                1159
closed               494
payment_review        57
pending               48
processing            33
holded                31
fraud                 10
pending_paypal         7
\N                     4
exchange               4
Name: count, dtype: int64

In [15]:
# In our case complete and received is the same status, just recorded differently, so is order_refunded and refund, and pedning and pending_paypal
# cod (cash on delivery) is a payment_method not an order_status, we are going to categoize them as complete

# Replace invalid / missing values with the mode - which is complete, because the number is not significant
df['status'] = df['status'].replace({'\\N': 'complete'})

# Merge pending-type statuses
pending_statuses = ['pending_paypal', 'payment_review', 'holded']
df.loc[df['status'].isin(pending_statuses), 'status'] = 'Pending'

#Merge complete-type statuses
completed_statuses = ['complete', 'cod', 'received']
df.loc[df['status'].isin(completed_statuses), 'status'] = 'Completed'

# Merge refunded statuses
refunded_statuses = ['refund', 'order_refunded']
df.loc[df['status'].isin(refunded_statuses), 'status'] = 'Refunded'

# Normalize capitalization for consistency
df['status'] = df['status'].str.capitalize()

# Check the cleaned value counts
print(df['status'].value_counts(dropna=False))

status
Completed     313851
Canceled      201235
Refunded       67564
Paid            1159
Closed           494
Pending          143
Processing        33
Fraud             10
Exchange           4
Name: count, dtype: int64

In [16]:
df['payment_method'].unique()

array(['cod', 'ublcreditcard', 'mygateway', 'customercredit',
       'cashatdoorstep', 'mcblite', 'internetbanking', 'marketingexpense',
       'productcredit', 'financesettlement', 'Payaxis', 'jazzvoucher',
       'jazzwallet', 'Easypay', 'Easypay_MA', 'easypay_voucher',
       'bankalfalah', 'apg'], dtype=object)

In [17]:
df['category_name'].value_counts()

category_name
Mobiles & Tablets     115874
Men's Fashion          92219
Women's Fashion        59720
Appliances             52413
Superstore             43613
Beauty & Grooming      41494
Soghaat                34011
Others                 29212
Home & Living          26504
Entertainment          26323
Health & Sports        17502
Kids & Baby            16494
Computing              15933
\N                      7833
School & Education      3478
Books                   1870
Name: count, dtype: int64

In [18]:
#Since there a lot of \N values we are going to replace them with 'Unknown'
df['category_name'] = df['category_name'].replace({'\\N': 'Unknown'})

In [19]:
df['bi_status'].value_counts()

bi_status
Net      234178
Gross    201440
Valid    148874
#REF!         1
Name: count, dtype: int64

In [20]:
df['bi_status'] = df['bi_status'].replace({'#REF!': 'Net'}) #replace with the mode - which is 'Net'
df['bi_status'].value_counts()

bi_status
Net      234179
Gross    201440
Valid    148874
Name: count, dtype: int64

In [21]:
#Convert the types of columns
df.dtypes

item_id               float64
status                 object
stock_keeping_unit     object
price                 float64
qty_ordered           float64
grand_total           float64
increment_id           object
category_name          object
discount_amount       float64
payment_method         object
transaction_date       object
bi_status              object
market_value           object
year                  float64
month                 float64
customer_since         object
fiscal_year            object
customer_id           float64
dtype: object

In [22]:
# Convert into Datetime Datatype
df['transaction_date'] = pd.to_datetime(df['transaction_date'], errors='coerce')
df['customer_since'] = pd.to_datetime(df['customer_since'], errors='coerce')
# Convert specified columns into categorical type
categorical_columns = ['status', 'payment_method', 'category_name', 'bi_status', 'stock_keeping_unit']
df[categorical_columns] = df[categorical_columns].astype('category')
# Numeric conversion and handle missing values if appears during errors='coerce'

# Convert 'increment_id' to numeric and coerce invalid entries to NaN
# (Invalid entries, like strings, are replaced with NaN using errors='coerce')
df['increment_id'] = pd.to_numeric(df['increment_id'], errors='coerce')
# Drop rows where 'increment_id' is NaN
df.dropna(subset=['increment_id'], inplace=True)
# Convert the column to integer after dropping NaN
df['increment_id'] = df['increment_id'].astype(int)

# Convert price column to float
df['price']= pd.to_numeric(df['price'], errors='coerce')
df['price']= df['price'].fillna(df['price'].mean()).astype(float)

# Convert qty_ordered column to int
df['qty_ordered'] = pd.to_numeric(df['qty_ordered'], errors='coerce')
df['qty_ordered']= df['qty_ordered'].fillna(df['qty_ordered'].median()).astype(int)

# Convert customer_id column to int
df['customer_id'] = pd.to_numeric(df['customer_id'], errors='coerce')
df.dropna(subset=['customer_id'], inplace=True)
df['customer_id'] = df['customer_id'].astype(int)

# Convert grand_total column to int
df['grand_total']= pd.to_numeric(df['grand_total'], errors='coerce')
df['grand_total']= df['grand_total'].fillna(df['grand_total'].median()).astype(float)

# Convert item_id column to int
df['item_id'] = pd.to_numeric(df['item_id'], errors='coerce')
df.dropna(subset=['item_id'], inplace=True)
df['item_id'] = df['item_id'].astype(int)

# Convert market_value column to float
df['market_value'] = pd.to_numeric(df['market_value'], errors='coerce')
df['market_value']= df['market_value'].fillna(df['market_value'].mean()).astype(float)

# Convert discount_amount column to float
df['discount_amount'] = pd.to_numeric(df['discount_amount'], errors='coerce')
df['discount_amount']= df['discount_amount'].fillna(df['discount_amount'].median()).astype(float)

# Convert year column to int
df['year']= df['year'].astype(int)

# Convert month column to int
df['month']= df['month'].astype(int)

In [23]:
df.dtypes

item_id                        int64
status                      category
stock_keeping_unit          category
price                        float64
qty_ordered                    int64
grand_total                  float64
increment_id                   int64
category_name               category
discount_amount              float64
payment_method              category
transaction_date      datetime64[ns]
bi_status                   category
market_value                 float64
year                           int64
month                          int64
customer_since        datetime64[ns]
fiscal_year                   object
customer_id                    int64
dtype: object

In [24]:
# Check if there are any duplicate rows
duplicates = df.duplicated()

# Count of total duplicates
total_duplicates = df.duplicated().sum()

print(f"Total number of duplicate rows in the data: {total_duplicates}")

Total number of duplicate rows in the data: 0

In [25]:
df.head(50)

,item_id,status,stock_keeping_unit,price,qty_ordered,grand_total,increment_id,category_name,discount_amount,payment_method,transaction_date,bi_status,market_value,year,month,customer_since,fiscal_year,customer_id
0,211131,Completed,kreations_YI 06-L,1950.00,1,1950.00,100147443,Women's Fashion,0.00,cod,2016-07-01,Net,454.437743,2016,7,2016-07-01,FY17,1
1,211133,Canceled,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.00,1,240.00,100147444,Beauty & Grooming,0.00,cod,2016-07-01,Gross,240.000000,2016,7,2016-07-01,FY17,2
2,211134,Canceled,Ego_UP0017-999-MR0,2450.00,1,2450.00,100147445,Women's Fashion,0.00,cod,2016-07-01,Gross,454.437743,2016,7,2016-07-01,FY17,3
3,211135,Completed,kcc_krone deal,360.00,1,60.00,100147446,Beauty & Grooming,300.00,cod,2016-07-01,Net,360.000000,2016,7,2016-07-01,FY17,4
4,211136,Refunded,BK7010400AG,555.00,2,1110.00,100147447,Soghaat,0.00,cod,2016-07-01,Valid,454.437743,2016,7,2016-07-01,FY17,5
5,211137,Canceled,UK_Namkino All In One 200 Gms,80.00,1,80.00,100147448,Soghaat,0.00,cod,2016-07-01,Gross,80.000000,2016,7,2016-07-01,FY17,6
6,211138,Completed,kcc_krone deal,360.00,1,60.00,100147449,Beauty & Grooming,300.00,cod,2016-07-01,Net,360.000000,2016,7,2016-07-01,FY17,7
7,211139,Completed,UK_Namkino Mix Nimco 400 Gms,170.00,1,170.00,100147450,Soghaat,0.00,cod,2016-07-01,Net,170.000000,2016,7,2016-07-01,FY17,6
8,211140,Canceled,Apple iPhone 6S 64GB,96499.00,1,96499.00,100147451,Mobiles & Tablets,0.00,ublcreditcard,2016-07-01,Gross,454.437743,2016,7,2016-07-01,FY17,8
9,211141,Canceled,Apple iPhone 6S 64GB,96499.00,1,96499.00,100147452,Mobiles & Tablets,0.00,mygateway,2016-07-01,Gross,454.437743,2016,7,2016-07-01,FY17,8
10,211142,Completed,"GFC_Pedestal Myga Cross Base (Special Guard) 24""",5500.00,1,5500.00,100147453,Appliances,0.00,cod,2016-07-01,Net,454.437743,2016,7,2016-07-01,FY17,9
11,211143,Completed,BK1070200PL,210.00,1,210.00,100147454,Soghaat,0.00,cod,2016-07-01,Valid,210.000000,2016,7,2016-07-01,FY17,10
12,211144,Completed,BK1130200CF,156.00,1,156.00,100147454,Soghaat,0.00,cod,2016-07-01,Valid,156.000000,2016,7,2016-07-01,FY17,10
13,211145,Completed,kcc_Sultanat,120.00,1,120.00,100147455,Home & Living,0.00,ublcreditcard,2016-07-01,Net,120.000000,2016,7,2016-07-01,FY17,11
14,211146,Completed,kcc_glamour deal,320.00,1,320.00,100147456,Beauty & Grooming,0.00,customercredit,2016-07-01,Net,320.000000,2016,7,2016-07-01,FY17,12
15,211147,Canceled,Assetmen_MD-346-M,1550.00,1,1550.00,100147457,Men's Fashion,0.00,ublcreditcard,2016-07-01,Gross,454.437743,2016,7,2016-07-01,FY17,11
16,211149,Completed,cr_DATES WITH CASHEW-400 GM,420.00,1,420.00,100147458,Soghaat,0.00,cod,2016-07-01,Net,420.000000,2016,7,2016-07-01,FY17,13
17,211150,Completed,UK_Gift Box Mix Dry Fruit Sweets 500 Gms,360.00,1,360.00,100147458,Soghaat,0.00,cod,2016-07-01,Net,360.000000,2016,7,2016-07-01,FY17,13
18,211151,Completed,itter_AB 1199,490.00,1,490.00,100147458,Beauty & Grooming,0.00,cod,2016-07-01,Net,490.000000,2016,7,2016-07-01,FY17,13
19,211152,Canceled,RL_B005,899.25,1,899.25,100147459,Home & Living,0.00,cod,2016-07-01,Gross,899.000000,2016,7,2016-07-01,FY17,14
20,211153,Canceled,bed&rest_S7,899.00,1,899.00,100147459,Home & Living,0.00,cod,2016-07-01,Gross,899.000000,2016,7,2016-07-01,FY17,14
21,211154,Canceled,L&L_LLHLE8224S,320.00,1,320.00,100147459,Home & Living,0.00,cod,2016-07-01,Gross,320.000000,2016,7,2016-07-01,FY17,14
22,211155,Completed,J&J_JJR-4,149.00,1,149.00,100147460,Kids & Baby,0.00,cod,2016-07-01,Net,149.000000,2016,7,2016-07-01,FY17,15
23,211156,Completed,J&J_JJR-20,149.00,1,149.00,100147460,Kids & Baby,0.00,cod,2016-07-01,Net,149.000000,2016,7,2016-07-01,FY17,15
24,211157,Refunded,D Lend a Helping Hand,1000.00,1,1000.00,100147461,Unknown,0.00,customercredit,2016-07-01,Valid,454.437743,2016,7,2016-07-01,FY17,16
25,211158,Refunded,Mochika_M0001112-12,1913.00,1,1913.00,100147462,Men's Fashion,0.00,cod,2016-07-01,Valid,454.437743,2016,7,2016-07-01,FY17,17
26,211160,Refunded,Mochika_M0001112-8,1913.00,1,1913.00,100147462,Men's Fashion,0.00,cod,2016-07-01,Valid,454.437743,2016,7,2016-07-01,FY17,17
27,211162,Completed,SKMT_Blood Test,500.00,1,500.00,100147463,Others,0.00,customercredit,2016-07-01,Net,500.000000,2016,7,2016-07-01,FY17,16
28,211163,Completed,SKMT_Medicine,100.00,5,500.00,100147463,Others,0.00,customercredit,2016-07-01,Net,500.000000,2016,7,2016-07-01,FY17,16
29,211164,Canceled,sputnik_701/5-11,1500.00,2,3000.00,100147464,Men's Fashion,0.00,cod,2016-07-01,Gross,454.437743,2016,7,2016-07-01,FY17,18
30,211166,Completed,Ctees-Black Zip- Up Hoodie-XL,450.00,1,450.00,100147465,Kids & Baby,0.00,cod,2016-07-01,Net,450.000000,2016,7,2016-07-01,FY17,19
31,211168,Completed,Samsung Galaxy J5,20999.00,1,20999.00,100147466,Mobiles & Tablets,0.00,cod,2016-07-01,Net,454.437743,2016,7,2016-07-01,FY17,20
32,211169,Completed,kcc_krone deal,360.00,1,360.00,100147467,Beauty & Grooming,0.00,cod,2016-07-01,Net,360.000000,2016,7,2016-07-01,FY17,20
33,211170,Refunded,Veet_4,165.00,1,82.50,100147468,Beauty & Grooming,82.50,cod,2016-07-01,Valid,165.000000,2016,7,2016-07-01,FY17,21
34,211171,Refunded,RS_Gulab jaman Tin,435.00,1,217.50,100147468,Soghaat,217.50,cod,2016-07-01,Valid,435.000000,2016,7,2016-07-01,FY17,21
35,211172,Canceled,cr_PEANUT SALTY-200 GM,90.00,1,90.00,100147469,Soghaat,0.00,cod,2016-07-01,Gross,90.000000,2016,7,2016-07-01,FY17,22
36,211173,Canceled,Oriflame_21557,850.00,1,850.00,100147469,Beauty & Grooming,0.00,cod,2016-07-01,Gross,850.000000,2016,7,2016-07-01,FY17,22
37,211174,Completed,JBS_TAT-128,3672.00,1,3672.00,100147470,Home & Living,0.00,cod,2016-07-01,Net,454.437743,2016,7,2016-07-01,FY17,23
38,211175,Completed,cr_PEANUT SALTY-200 GM,90.00,1,70.85,100147471,Soghaat,19.15,cod,2016-07-01,Net,90.000000,2016,7,2016-07-01,FY17,22
39,211176,Completed,Oriflame_21557,850.00,1,669.15,100147471,Beauty & Grooming,180.85,cod,2016-07-01,Net,850.000000,2016,7,2016-07-01,FY17,22
40,211177,Refunded,Ajmery_BRR-590-M,899.00,1,899.00,100147472,Men's Fashion,0.00,cod,2016-07-01,Valid,899.000000,2016,7,2016-07-01,FY17,24
41,211179,Canceled,HOS_GUCFW75,7400.00,1,7400.00,100147473,Beauty & Grooming,0.00,mygateway,2016-07-01,Gross,454.437743,2016,7,2016-07-01,FY17,25
42,211180,Canceled,Lexon_LL116B-Blue,3600.00,1,3600.00,100147473,Mobiles & Tablets,0.00,mygateway,2016-07-01,Gross,454.437743,2016,7,2016-07-01,FY17,25
43,211182,Completed,kcc_Fantasy Perfumed Talcum Powder-200gm,143.00,1,65.28,100147474,Beauty & Grooming,77.72,cod,2016-07-01,Net,143.000000,2016,7,2016-07-01,FY17,22
44,211184,Completed,2Zee_SC6,225.00,1,102.72,100147474,Beauty & Grooming,122.28,cod,2016-07-01,Net,225.000000,2016,7,2016-07-01,FY17,22
45,211185,Completed,Q MOBILE Noir X20,4500.00,1,4500.00,100147475,Mobiles & Tablets,0.00,cod,2016-07-01,Net,454.437743,2016,7,2016-07-01,FY17,26
46,211186,Canceled,rehaab_RJ160047,3156.00,1,3156.00,100147476,Women's Fashion,0.00,cod,2016-07-01,Gross,454.437743,2016,7,2016-07-01,FY17,27
47,211187,Canceled,Farah_3-B,2996.00,1,2996.00,100147476,Women's Fashion,0.00,cod,2016-07-01,Gross,454.437743,2016,7,2016-07-01,FY17,27
48,211188,Canceled,RS_Sohan Halwa Tin,300.00,2,600.00,100147477,Soghaat,0.00,cod,2016-07-01,Gross,600.000000,2016,7,2016-07-01,FY17,28
49,211189,Canceled,UK_Soan Papdi Original 250 Gms,150.00,2,300.00,100147477,Soghaat,0.00,cod,2016-07-01,Gross,300.000000,2016,7,2016-07-01,FY17,28

In [26]:
#Connect to PostgreSQL
!pip install psycopg2-binary sqlalchemy
from sqlalchemy import create_engine
username = "postgres"
password = "vugar" 
host = "localhost"         
port = "5432"             
database = "e-commerce"    

engine = create_engine(f"postgresql+psycopg2://{username}:{password}@{host}:{port}/{database}")

#Load DataFrame into PostgreSQL
table_name = "e-commerce" 
df.to_sql(table_name, engine, if_exists="replace", index=False)

print(f"Data successfully loaded into table '{table_name}' in database '{database}'.")

Requirement already satisfied: psycopg2-binary in c:\programdata\anaconda3\envs\gettingstarted\lib\site-packages (2.9.11)
Requirement already satisfied: sqlalchemy in c:\programdata\anaconda3\envs\gettingstarted\lib\site-packages (2.0.45)
Requirement already satisfied: greenlet>=1 in c:\programdata\anaconda3\envs\gettingstarted\lib\site-packages (from sqlalchemy) (3.3.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\programdata\anaconda3\envs\gettingstarted\lib\site-packages (from sqlalchemy) (4.15.0)
Data successfully loaded into table 'e-commerce' in database 'e-commerce'.